
<!-- *****************************************************************************************************************
PORTFOLIO SECTION
***************************************************************************************************************** -->
<div id="portfoliowrap">
  <div class="portfolio-centered">
    <div class="recentitems portfolio">
      <div class="container offers-content">
        <%= render partial: "offers", locals: { offers: @offers }%>
      </div>
    </div><!-- portfolio -->
  </div><!-- portfolio container -->
</div><!--/Portfoliowrap -->

